:root {
    --adoGrey: #F6F1F1;
    --adoLightGreen: #90C578;
    --adoMediumPurple: #8675FE;
    --adoRedCrayola: #FD024F;
  }
  
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,900&display=swap');

body {
    background-color: var(--adoGrey);
   
  }

.list-inline {
    list-style-type: none;
    margin-left: 5%;
    display: flex;
    flex-direction: row;
  }
  
  .header-basic {
    float: right;
    margin-right: 5%;
    
  }
  
  .header-basic .basic {
    color: var(--adoXiketic);
    display: flex;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 1.95rem;
    margin-bottom: -70px;

  }
  
  .header-basic li {
    padding: 0 10px;
   
  }
  
  .header-basic ul a {
    color: inherit;
    text-decoration: none;
    opacity: 0.8;
  }
  
  .header-basic ul a:hover {
    opacity: 1;
  }

  .titel {
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 2.5rem;
  }

  .mvButtons{
    display: flex;
    flex-direction: row;
    
  }

  .mvButtons button{
    background-color: var(--adoLightGreen) ;
    border-style: none;
    font-family: 'Poppins', sans-serif;
    font-style: 200;
    font-size: 1.5rem;
    border-radius: 15px;
    margin-left: 10px;
    transition: transform 0.5s;
  }
  .mvButtons button:hover{
    /* background-color: var(--adoRedCrayola); */
    transform: scale3d(1.2, 1.20, 1);
  }

  .csv input{
    /* background-color: var(--adoMediumPurple) ; */
    border-style: none;
    font-family: 'Poppins', sans-serif;
    font-style: 200;
    font-size: 1.2rem;
    border-radius: 15px;
    margin-bottom: 10px;
    margin-left: 10px;
  }

  .canvas1 {
    
  }